body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fefefa;
  margin: 0;
  padding: 20px;
  color: #3d0c02;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

button {
  background: #7b5b42;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: #5a402f;
}

@font-face {
  font-family: "Brittany";
  src: url("font/iCielBrittanySignature-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserra";
  src: url(font/Montserrat-Black.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
/* ======= TRANG CHỦ ======= */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.home-container::before {
  bottom: -170px;
  right: -100px;
  width: 500px;
  height: 500px;
  border-radius: 60% 40% 50% 50% / 60% 60% 40% 40%;
  transform: rotate(-10deg);
  opacity: 0.5;
}

.home-container::after {
  top: -50px;
  left: -100px;
  width: 300px;
  height: 350px;
  border-radius: 60% 40% 50% 50% / 60% 60% 40% 40%;
  transform: rotate(15deg);
  opacity: 0.6;
}

.home-container::after {
  content: "";
  position: absolute;
  background-color: #a0785a;
  z-index: 3;
}

.home-container::before {
  content: "";
  position: absolute;
  background-color: #79443b;
  z-index: 3;
}
.text-section {
  flex: 1;
  text-align: left;
  padding-right: 40px;
  z-index: 10;
}

.image-section {
  flex: 1;
  text-align: center;
  z-index: 10;
}

.hero-image {
  max-width: 350px;
  height: auto;
}

.title {
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 10px;
  font-family: "Brittany", sans-serif;
}

.subtitle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: "Montserra", sans-serif;
}

.desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: justify;
}

.btn-main {
  background: #7b5b42;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 100px;
}

.btn-main:hover {
  background: #5a402f;
}

/* Trang 2 */
#cameraContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1); /* lật gương cho giống selfie */
}

#poseCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* không chặn click */
}
#poseCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* không chặn click */
}
#video {
  transform: scaleX(-1); /* gương selfie */
}
